@charset "UTF-8";
html {
font-size: 16px;
}
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
font-family: "Raleway", sans-serif;
color: #FEFEFE;
background-color: #1F2731;
/* padding: 0 55px; */
margin: 0;
}
body::-webkit-scrollbar {
width: 15px;
}
body::-webkit-scrollbar-track {
background: #F46157;
width: 11px;
}
body::-webkit-scrollbar-thumb {
background: #F46157;
border-radius: none;
}
body::-webkit-scrollbar-track-piece {
background: #1F2731;
}
img {
display: block;
max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
font-size: 1.5rem;
font-weight: 400;
line-height: 1.2;
color: #F46157;
font-family: "Oswald", "Raleway", sans-serif;
margin: 0;
}
p {
margin: 0;
line-height: 1.5;
font-size: 1rem;
}
ul, ol {
list-style: none;
}
a {
color: inherit;
text-decoration: none;
}
a:hover {
text-decoration: underline;
color: #F46157;
}
.header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
}
.holder_logo {
display: flex;
align-items: flex-end;
gap: 9px;
}
a[href="#footer"]:hover {
color: inherit;
}
.logo_title {
font-size: 2rem;
font-weight: 700;
line-height: 1.2;
}
.banner {
color: inherit;
font-weight: inherit;
font-family: "Oswald", "Raleway", sans-serif;
background-size: cover;
background: url('../img_src/background/manhanttan.jpg') no-repeat center center;
height: 787px;
padding: 78px 77px;
}
.main_banner_text {
max-width: 950px;
padding-top: 40px;
font-family: "Anton", "Oswald", "Raleway", sans-serif;
font-size: 2rem;
line-height: 1.78;
color: #FEFEFE;
}
.main {
height: auto;
padding: 0 2rem;
display: grid;
justify-content: space-between;
grid-template-columns: 1fr 1fr;
padding-top: 78px;
}
.h2_bigger {
line-height: 1.2;
font-size: 2rem;
padding-bottom: 64px;
}
.h3_titler {
font-size: 1.875rem;
padding-bottom: 18px;
}
.text {
color: inherit;
line-height: 24px;
font-family: "Raleway", sans-serif;
text-transform: uppercase;
}
.options_1 {
max-width: 670px;
}
.mrg_bt {
padding-bottom: 48px;
}
.list_text::before {
content: "";
display: inline-block;
width: 4px;
height: 46px;
background: #F46157;
margin-right: 17px;
vertical-align: middle;
}
.list_text {
margin-bottom: 28px;
}
.bigger_h2 {
font-size: 2rem;
line-height: 1.78;
text-align: right;
color: #F46157;
}
.footer {
background: #191F17;
}
.price_title {
font-size: 4rem;
color: #FEFEFE;
line-height: 1.2;
font-family: "Oswald", "Raleway", sans-serif;
}
.price_product {
display: flex;
flex-direction: column;
padding-top: 66px;
padding-left: 2rem;
padding-right: 2rem;
align-items: flex-end;
margin-bottom: 492px;
}
.option_color {
color: #F46157;
}
.price {
font-size: 4rem;
}
.contact {
display: flex;
flex-direction: column;
}
.footer {
color: #FFF;
padding: 58px 2rem 64px 2rem;
background-color: #191F27;
}
.h2_footer {
font-family: "Anton", sans-serif;
font-weight: 400;
/* color: #FEFEFE; */
font-size: 1.25rem;
color: #FFF;
margin-bottom: 21px;
}
.phone, .email {
font-family: "Oswald", sans-serif;
font-weight: 400;
font-size: 1.125rem;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 10px;
max-width: 240px;
/* color: #FEFEFE; */
}
.info_contact {
font-family: "Raleway", sans-serif;
font-weight: 400;
/* color: #FEFEFE; */
}
.copy {
font-weight: 700;
font-family: "Raleway", sans-serif;
color: #FEFEFE;
padding-top: 28px;
}
@media screen and (max-width: 575px) {
    .html {
    font-size: 14px;
    }
    .sales {
    display: none;
    }
}
@media screen and (max-width: 768px) {
    .html {
    font-size: 14.8px;
    }
    .main {
    grid-template-columns: 1fr;
    padding: 0 16px;
    }
    .bigger_h2 {
    text-align: left;
    padding-top: 46px;
    }
    .banner {
    height: auto;
    padding: 1rem;
    }
    .main_banner_text {
    padding-bottom: 170px;
    }
    .right_content {
    grid-row: 1;
    margin-bottom: 80px;
    }
    .footer {
    padding-left: 14px;
    padding-right: 14px;
    }
    .price_title {
    text-align: right;
    }
}
@media screen and (min-width: 1920px) {
    .main {
    min-width: 100vh;
    }
    .banner {
    min-width: 100vh;
    }
}